.AppContainer {
	margin: 0 auto;
	width: 600px;
}

.weatherToday {
	padding: 20px;
	background: #50cd72;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#timeToday {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.nameCountryToday, .dateTimeToday {
	font: bold 25px 'Comic Sans MS', sans-serif;
	color: #fff;
}

.spanNewTime {
	background: url(../img/iconOclock2.svg) no-repeat 0px 0px;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#imgToday {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.weatherIconToday {
	width: 90px;
}

#tempToday {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 30px;
}

.mainTempToday {
	font: bold 35px 'Comic Sans MS', sans-serif;
	color: #fff;
}

#blockWindDegSpeedToday {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.elemWindDegSpeed {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.windDegToday, .windSpeedToday {
	font: bold 25px 'Comic Sans MS', sans-serif;
	color: #fff;
}

.spanNewWindDeg {
	background: url(../img/iconWindDeg2.svg) no-repeat 0px 0px;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.spanNewWindSpeed {
	background: url(../img/iconWindSpeed2.svg) no-repeat 0px 0px;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

/* Стили списка погоды */

.liGroupContainerTomorrow {
	border-bottom: 2px solid #6f8197;
	margin: 0 20px 0 20px;
	list-style-type: none;
	line-height: 50px;
	display: flex;
	justify-content: space-between;
}

.dateTimeTomorrow, .mainTempTomorrow {
	font: bold 15px 'Comic Sans MS', sans-serif;
	color: #000;
	line-height: 50px;
}

.weatherIconTomorrow {
	width: 48px;
	line-height: 50px;
}